h1 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: deepskyblue;
    padding: .3em;
}
.row-shadow td {
    background-color: #ddd;
}
.hover-row td {
    background-color: lightgreen;
}
.selected-row td {
    background-color: deepskyblue;
}
.list-table {
    border: 1px solid #bbb;
    border-collapse: collapse;
    cursor: default;
    margin-bottom: 20px;
}
.list-table th {
    text-align: left;
}
.list-table td, 
.list-table th {
    padding: 5px;
}
.list-table td.text {
    max-width: 177px;
}
.list-table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
.list-table td{
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}
.list-table.ng-hide {
    opacity: 0;
}
.sortable {
    cursor: s-resize; /* down-arrow */
}
.clickable {
    cursor: default;
}
.sort-asc:after {
    content: '\a0\2193'; /* space down-arrow */
}
.sort-desc:after {
    content: '\a0\2191'; /* space up-arrow */
}
.sort-none:after {
    content: '\a0\a0'; /* space space */
}
.drop-menu{
    width: 10rem;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: lightgray;
    border: 1px solid lightgray;
}
my-header{
    margin-bottom: 100px;
}
.width100{
   width: 100%;   
}
.left-block, .right-block{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.list-table{
    width: 100%;
}
.show-star{
    font-size: 18px;
}

@media screen and (max-width:1024px) {
    .list-table td.text {
        max-width:  130px;
    }

    .show-star{
        font-size: 10px;
    }
}